<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Node - Product</title>
  </head>

  <body>
    <main class="container">
      <section class="nav">
        <a class="home" href="home">Home</a>
        <a class="product selected" href="product">Product</a>
        <a class="contact" href="contact">Contact</a>
      </section>

      <section class="desc">
        <div class="counter"></div>
      </section>
    </main>
  </body>
</html>
